{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Base Template</title>
        {% include 'base/css.html' %}
        <!-- {% block base_head %}{% endblock %} para cargar otro css en otra pagina -->
</head>
<body >
    {% include 'base/navbar.html' with brand_name='Activos Fijos' %}
    {% block content %}{% endblock %}

    {% include 'base/js.html' %}

    <!-- first ajax script used for search -->

    <script>
        $(document).ready(function(){
            var searchForm = $("#activos-filters-ajax")
            // print(searchForm)
            console.log('script working')
            console.log(searchForm)
            
            searchForm.submit(function(event){
                event.preventDefault()
                console.log("Form is not sending")
                var thisForm = $(this)
                //var actionEndpoint =  thisForm.attr("action")
                var actionEndpoint =  thisForm.attr("data-endpoint")
                var httpMethod = thisForm.attr("method")
                var formData = thisForm.serialize();

                //console.log(thisForm.attr("action"),thisForm.attr("method"))
                console.log(formData)

                $.ajax({
                    url: actionEndpoint,
                    method: httpMethod,
                    data: formData,
                    success: function(data){
                        var currentPath = window.location.href
                        var list = $("#activos_col")
                        var activo_rows = $(".activo")
                        if (data.activos.length > 0){
                            //list.html("")
                            activo_rows.html("")
                            activo_html = ""
                            $.each(data.activos,function(index,value){
                                // {% if instance.image %}
                                //     <img class="card-img-top img-fluid mx-auto d-block mt-2" style="height:20rem;width: auto" src="{{instance.image.url}}" alt="{{ instance.title }} logo">
                                // {% endif %}
                               
                                //console.log(value.image)
                                //console.log(value.image)
                                // if (!value.image) {
                                //     console.log("is null")
                                // } else {
                                //     console.log("not null")
                                // }


                                
                                activo_html = activo_html +  `
                                <div class="card d-block" style="width: auto;" id="card_snippet">
                                    <div class="card-header"> `
                                    +
                                    value.estado
                                    +
                                    `</div>`
                                    +
                                    (value.image ? `<img class="card-img-top img-fluid mx-auto d-block mt-2" style="height:20rem;width:auto" src="` + value.image + `" alt="` + value.nombre + ` logo"> `:` ` )
                                    +
                                    `<div class="card-body">
                                    <h5 class="card-title">`
                                        +
                                        value.nombre
                                        +
                                    `</h5>
                                    <p class="card-text">`
                                        +
                                        (typeof value.observaciones !== "undefined" ? value.observaciones:"")
                                        +
                                    `</p>

                                     <a href="`
                                      + 
                                      `/activos/` + value.slug
                                      + 
                                    ` "
                                     class="btn btn-primary">View</a>
                                    </div>
                                </div>
                                `
                                
                                //console.log(activo_html)
                                //list.prepend(activo_html)
                            

                            })
                            // console.log(activo_html)
                            list.html(activo_html)
                            
                        } else {
                            activo_rows.html("")
                        }

                        console.log("success")
                        console.log(data)
                        if (currentPath.indexOf("activos") != -1) {
                            //updateActivoList(list_html)
                        }
                    },
                    error: function(errorData){
                        console.log("error")
                        console.log(errorData)
                    }
                })

                function updateActivoList(list_html){
                    console.log("in activos list")
                    list_html.html("<h1>Changed</h1>")

                    // refers to endpoint
                    var updateActivosUrl = '/api/activos'
                    var updateActivosMethod = "GET";
                    var data = {};
                    $.ajax({
                        url: updateActivosUrl,
                        method: updateActivosMethod,
                        data: data,
                        sucess: function(data){
                            console.log("success")
                        },
                        error: function(errorData){
                            console.log("error")
                            console.log(errorData)
                        }
                    })

                }
            })
            
        })
    </script>

</body>
</html>