{% extends "base.html" %}



{% block content %}


<div class="container" >
        <div class="row mt-2">  
            <div class="col-2"> 
                <div class="d-flex flex-column align-items-stretch">
                    <form class="form">
                    {{ form }}
                        <button type="submit" class="btn btn-info mb-2" style="width: auto"> Consultar</button>  
                    </form>      
                </div>  
            </div>
            <div class="col">

                <div class="row">
                {% if query %}
                    <div class="col-12">
                        Buscando para: <b> {{query}} </b>
                        <hr/>
                    </div>
                {% else %}
                
                    <div class="col-12">
                            {% include 'search/snippets/search-form.html' %}
                    </div>


                {% endif %}
                

                    <div class='col-12 mt-2'>
                    {% for obj in object_list %}
                        {% include 'snippets/card.html' with instance=obj %}
                    {% endfor %}
                    </div>
                </div>

                    
            </div> 
          
    </div>

{% endblock %}